/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/

.myHeader {
    color: black;
}

.trashCan {
    height: 20px;
    visibility: hidden;
}

li:hover .trashCan {
    visibility: visible;
}

.taskInput {
    width: 100%;
}
